<html>
  <head>
    <title>Oops! Something went wrong!</title>
    <style>
      #root {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div id="root">
      <div>
        <h2>
          The following error has occurred -
        </h2>
        <div>
          <%= reason %>
        </div>
      </div>
    </div>
  </body>
</html>
